@import 'variables';
@import 'mixin';
@import 'transition';
@import './element-ui.scss';
@import 'sidebar';
@import 'management';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background-color:transparent;
}

::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  border-radius: 4px;
}
body{
  scrollbar-face-color: #5b5b5b;
  scrollbar-arrow-color: #5b5b5b;
  scrollbar-highlight-color: #5b5b5b;
  scrollbar-track-color: #d0d0d0;
  scrollbar-arrow-color:  #d0d0d0;
  scrollbar-3dlight-color: #d0d0d0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

// table和详情页下的超链接样式
.el-card a:link, table a:link{text-decoration: none; color:#409EFF; font-family: 微软雅黑;}
.el-card a:visited, table a:visited{ color:#409EFF;}
.el-card a:hover, table a:hover{text-decoration: underline; color: #96c2ff;
}
.el-card a:active, table a:active{text-decoration: blink; color: yellow;}

//二级菜单公共样式
.sec-menu{
  height: 100vh;
  /*width: 160px;*/
  .el-menu-item{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d4cece;
    .num{
      position: absolute;
      right: 10px;
    }
  }
  .el-menu-item.is-active{
    background: #ffffff !important;
    position: relative;
    left: 1px;
  }
}
