// =======审核管理样式=========
.card-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-span-left {
  text-align: right;
  color: darkgray
}
.card-span-right {
  text-align: left;
}
.card-img-size {
  width: auto;
  //height: 300px
}
.card-hex-vision { // 六视图
  width: 100px;
  height: auto;
  padding-right: 5px;
}
.check-form-inline .check-radio {
  //text-align: center;
}

.check-reason .el-form-item { // 审核结果输入框
  width: 100%;
}
.check-reason .el-form-item__content { // 审核结果输入框
  width: 85% ;
}
.box-card{
  margin-bottom: 20px;
  .card-header {
    position: relative;
    i{
      background: #409eff;
      display: inline-block;
      width: 3px;
      position: absolute;
      height: 24px;
      left: -8px;
      top: -3px;
    }
  }
  .card-handle{
    padding-top: 19px;
    border-top: 1px solid #e6ebf5;
    .audit-result-label{
      line-height: 32px;
    }
    .audit-result-pass{
      line-height: 32px;
      color: #67C23A;
    }
  }
  .card-handle-else{
    padding-bottom: 19px;
    border-bottom: 1px solid #e6ebf5;
    .audit-result-label{
      line-height: 32px;
    }
    .audit-result-pass{
      line-height: 32px;
      color: #67C23A;
    }
  }
  .license-box{
    margin-bottom: 30px;
    .license-title{
      margin-bottom: 15px;
    }
    .card-handle-else{
      padding-top: 15px;
      border-bottom: 1px solid #e6ebf5;
    }
    &:last-child .card-handle-else{
      border-bottom:none
    }
  }
  .review-license{
    &:last-child .card-handle-else{
      border-bottom: none;
    }
    &:first-child p{
      margin-top: 0;
    }
  }
}
.audit-box{
  p{
    margin: 10px 0;
  }
}
.golive-box {
  .card-handle-else:last-child{
    border-bottom: none;
  }
  .dark-gray{
    color: darkgrey;
    font-size: 14px;
  }
  p{
    margin: 0;
    line-height: 24px;
  }
}


/*documentManagement*/
.doc-dialog{
  .el-dialog{
    padding: 0 20px;
    .el-dialog__header{
      border-bottom: 1px solid #d8dce5;
    }
    form{
      position: relative;
      .upload-tips{
        padding-left: 100px;
        position: absolute;
        bottom: -30px;
        color: darkgrey;
      }
    }

  }
}
